 body {
        
   margin:0 auto;
         width:80%; 
        padding: 0;
        box-sizing: border-box;
        font-size: 1.3rem;
        color: rgba(66, 66, 66, 1);
        font-family: Arial, Helvetica, sans-serif;
      }
       
     
       header {
        background-color: #f7f7f7;
        height: 7rem;
        display: flex;
      justify-content: space-around;
        overflow: hidden;

        align-items: center;
      }
      .logo img {
       
         height: 18rem;
        position: relative;
        right: 3rem;
        
      }

      .nav {
        display: flex;
        gap: 4rem;
        align-items: center;
      }

        .nav {
        position: relative;
        right: 6rem;  
        }  
      
      .nav-item {
        list-style-type: none; 
        color: #424242;
      }
      .nav-item:hover {
        background-color: #e7ba77;
      }

       button {
         margin-right: 4rem; 
        padding: 0.5rem 2rem;
        border-radius: 2rem;
         
      }
    
      
      main{
         display:flex;
        justify-content: center; 
      }
      .wrapper-main{
         display: block; 
      }
      
    
      .baner img{
        width: 100%;
        height: auto;
      }
      .conttener{
        height: 30rem;
      }
    

      main{
        margin: 0 auto;
        height: auto;
        width: 85%;
        justify-content: space-around;
      }
      .wrapper-main{
         justify-content: space-around; 
      }
      .main-item h2{
        text-align: center;
      }
      .main-item p{
        line-height: 1.7rem;
        font-size: 1.3rem;
        letter-spacing: 1px;
        line-height: 2.3rem;
        text-align: justify;
      }
      .card{
        display: flex;
        gap: 4rem;
        justify-content: center;
        margin-top: 3rem;
      }
      .cards-list:hover{
        transform: scale(1.1);
        border: solid 1px rgb(184, 177, 177);
        transition: transform 2s;
      }
      .cards-list{
        background-color:rgba(249,249 , 249, 1);
        width: 15rem;
        height: 8rem;
        padding: 1rem;
        border-radius: 1rem;
        text-align: center;
      }
     .cards-list h2{
      color: rgba(211, 58, 58,1);
      font-size: 2rem;
     }
     .cards-list p{
      font-size: 1.2rem;
     }
     .popular{
      text-align: center;
      margin-top: 5rem;
      margin-bottom: 4rem;
     }

     .cards-grid{
      margin: 0 auto;
      color: rgba(34, 32, 32,1);
     }
     .grid-inner{
      display: grid;
      grid-template-columns:repeat(3 , 1fr) ; 
      margin-bottom: 4rem;
     }
     .grid-inner h2{
      text-align: center;
     }
     .cards-item img{
       width: 21rem;
      height:17rem; 
     }
      .cards-item{
        border: solid 1px black;
        width: 21rem;
        margin-bottom: 4rem;
      }
      .cards-item:hover{
        transform: scale(1.1);
         transition: transform 1s; 
      }
      .cards-item button{
      width: 15rem;
      height: 3rem;
      margin-left: 3rem;
      margin-bottom: 1rem;
      font-size: 1.2rem;

      }
      footer{
        background-color: #c4ceda;
        height: 14.5rem; 
        color: rgba(66, 66, 66, 1);
      }
      .footer-logo img{
         display: flex;
        height: 12rem;
        margin-left: 7rem;
      }
      .footer-conttaner{ 
        height: 11rem;
        display: flex;
        gap: 10rem;
        border-bottom: solid 1px black;
      }
      .icons-conttaner{
        display: flex;
        justify-content: space-between;
        margin-left: 8rem;
        margin-right: 8rem;
      }
       .icon{
        display: flex;
        gap: 1rem;
        padding: 0.5rem;
        
      } 